@model IEnumerable<DomingoRoofWorks.Models.JobMaterial>

@{
    ViewData["Title"] = "Index";
}

<h1>Jobs and Materials Page</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Job Card No.
            </th>
            <th>
                Quantity
            </th>
            <th>
                Equiptment/Material
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobCard.JobCardId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity) x
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Material.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.JobMaterialId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.JobMaterialId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.JobMaterialId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
